#root {
  margin: 0;
  padding: 0;
}

#navigation-buttons {
  position: fixed;
  bottom: 10%;
  right: 5%;
}

.navigation-icon {
  border: 1px solid white;
  padding: 8px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 70%;
}

.navigation-icon:hover {
  background-color: white;
  
}

.navigation-page {
  min-height: 100vh;
}

.goToNext {
  position: fixed;
  bottom: 3%;
  left: 48.5%;
  right: 48.5%;
  transform: translateX(-50%, -50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 50%;
}

.goToNext > .fa-arrow-down {
  font-size: 28px;
}

.current-nav {
  transform: rotate(45deg);
  background-color: white;
}