.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    min-height: 600px;
    font-family: "Source Code Pro", monospace;
}

.about > h1 {
    color: #33FF00;
    text-align: center;
}

.about > p {
    padding-left: 23px;
    padding-right: 23px;
    text-align: justify;
    width: 70%;
}

#resume-link {
    float: right;
    margin-right: 20%;
    margin-left: auto;
    text-decoration: none;
    float: right;
    color: #33FF00;
    font-family: "Source Code Pro", monospace;
}

#resume-link:hover {
    text-decoration: underline;
    color: #33ff00ab;
}


@media screen and (max-width: 900px) {
    .about > p {
        font-size: 0.9rem;
        width: 60%;
    } 
}

@media screen and (max-width: 730px) {
    .about > p {
        font-size: 0.85rem;
        width: 55%;
    } 
    #resume-link {
        margin-right: 25%;
    }
}

@media screen and (max-width: 660px) {
    .about > p {
        font-size: 0.8rem;
        width: 45%;
    } 
    #resume-link {
        margin-right: 25%;
    }
}


@media screen and (max-width: 580px) {
    .about > p {
        font-size: 0.8rem;
        width: 40%;
    } 
    #resume-link {
        margin-right:30%;
    }
}


@media screen and (max-width: 500px) {
    .about > p {
        font-size: 0.7rem;
        width: 32%;
    } 
    #resume-link {
        margin-right:35%;
    }
}


@media screen and (max-width: 400px) {
    .about > p {
        font-size: 0.7rem;
        width: 28%;
    } 
    #resume-link {
        margin-right:38%;
    }
}