.about{
    padding: 50px;
    border: 1px solid;
    border-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    width: 60vw;
    height: 60vh;
    min-height: 580px;
    font-family: "Source Code Pro", monospace;
    box-shadow: 5px 5px 15px;
    background-color: #0d0d0d;
}

.about > h1 {
    color: #33FF00;
}

.about > p {
    padding-left: 23px;
    padding-right: 23px;
    text-align: justify;
}