.skills {
    width: 60vw;
    height: 600px;
    min-height: 600px;
    font-family: "Source Code Pro", monospace;
}

.skills > h1 {
    text-align: center;
    color: #33FF00;
}

.skills-cards {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.MuiCardContent-root > div {
    transition: ease-in 0.4s;
}

.MuiCardContent-root > svg {
    transition: ease-in 0.4s;
}

.MuiCardContent-root:hover > div  {
    font-size: 126%;
    color: #33FF00;
}

.MuiCardContent-root:hover > svg {
    color: #33FF00;
    font-size: 4.1rem;
}

#skills-cards-small > .MuiPaper-root > .MuiCardContent-root > .MuiTypography-root {
    font-size: 1.5rem;
}

#skills-cards-small {
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 1000px) {
    #skills-cards-small {
        display: flex;
    }

    .skill-box {
        display: none !important;
    }

    .skills-cards {
        display: none !important;
    }
}

@media screen and (max-width: 880px) {
    #skills-cards-small > .MuiPaper-root > .MuiCardContent-root > .MuiTypography-root {
        font-size: 1rem;
    }
}

@media screen and (max-width: 650px) {
    #skills-cards-small {
        flex-direction: column;
    }
    #skills-cards-small > .MuiPaper-root > .MuiCardContent-root {
        padding: 30px !important;
    }
}

