.technologies {
    width: 1152px;
    height: 600px;
    min-height: 600px;
    font-family: "Source Code Pro", monospace;
}

.technologies > h1 {
    text-align: center;
    color: #33FF00;
}

.logo-element {
    width: 120px;
    height: 120px;
}

.technologies-carousel {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.carousel-element {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}