
.welcome{
    padding: 50px;
    width: 60vw;
    height: 60vh;
    margin-bottom: 260px;
}


#hero-text{
    font-size: 4.5rem;
}

#hero-text > h1 {
    white-space: pre-wrap;
    color: #33FF00;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 80vw;
}

#hero-text > h1::after {
    display: inline;
    margin-left: 2.5rem;
    content: " ";
    border: 2px solid #33FF00;
    width: 30px;
    height: 30px;
    background-color: #33FF00;
    animation: 0.5s inputBoxAnimation infinite alternate; 
}


@keyframes inputBoxAnimation {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}



@media screen and (max-width: 1000px) {

    .welcome{
        margin-right: 150px;
    }
    #hero-text{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 550px) {
    #hero-text{
        font-size: 3rem;
        padding-left: 50px;
    }  
}


@media screen and (max-width: 460px) {
    #hero-text{
        font-size: 2.5rem;
    }  
}

@media screen and (max-width: 400px) {
    .welcome{
        margin-right: 150px;
    }
}